<div class="background">
  <div style="text-align: center;">
    <span class="heading">todos</span>
  </div>

  <div class="sub-container">
    <form #addForm="ngForm" (ngSubmit)="onAddTask(addForm)">
      <input type="text" ngModel name="text" class="input" placeholder="What needs to be done?">
    </form>

    <div *ngIf="displayTasks.length > 0">
      <div class="hard-divider"></div>
      <div class="mark-completed-container">
        <button [disabled]="pendingTasks.length == 0" class="buttons" (click)="onMarkAllCompleted()">Mark all Completed</button>
      </div>
      <div class="task-container" *ngFor="let task of displayTasks">
        <form #isCompleteIncompleteform="ngForm">
          <input type="checkbox" [(ngModel)]="task.isComplete" name="isComplete" (change)="onUpdateCompletionStatus(isCompleteIncompleteform, task)">&nbsp;
          <span *ngIf="!task.isComplete">{{task.text}}</span>
          <span *ngIf="task.isComplete" class="strike-through">{{task.text}}</span>
          <button class="close" (click)="onApparentlyDeleteTask(task)">x</button>
          
          <!-- <div class="soft-divider"></div> -->
        </form>
      </div>
      
      <div style="align-items: flex-start; padding-top: 5px; padding-bottom: 5px; font-size: 12px; opacity: 0.7;">
        <div style="display: inline;">
          <span>{{pendingTasks.length}} item<span *ngIf="pendingTasks.length > 1">s</span> left</span>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div style="display: inline;">
          <button class="buttons" (click)="onGetTasks()">All</button>
          <button class="buttons" (click)="onGetPendingTasks()">Pending</button>
          <button class="buttons" (click)="onGetCompletedTasks()">Completed</button>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div style="display: inline;">
          <button [disabled]="completedTasks.length == 0" class="buttons" (click)="onClearAllCompleted()">Clear Completed</button>
        </div>
      </div>
    </div>
  </div>

</div>